#london-wrapper, #windsor-wrapper{
    display: none;
    height: 500px;
}
#box-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    z-index: 1000;
  }
  
  #box-container h2 {
    margin: 0;
    font-size: 20px;
  }
  
  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  